.site-nav {
    display: flex;


    &__pages {
        @include centeredFlex(flex, center)
    }

    &__element:not(:last-child) {
        margin-right: 46px;
    }

    &__link {
        font-weight: 500;
        letter-spacing: 0.02em;

        color: getColor("second-title-text");

        @include transform(color);

        &:hover {
            color: getColor("accent-text");
        }

        &--active {
            position: relative;
            color: getColor("accent-text");
    
            &::after {
                position: absolute;
                bottom: -32px;
                left: 0;
          
                content: '';
                display: inline-block;
                width: 100%;
                height: 4px;

                background-color: getColor("accent-background");
            }

        }
    }
}