.feature-section {
    width: 1200px;
    margin: 94px auto; 


    &__list {
        @include centeredFlex(flex, center);
    }

    &__element:not(:last-child) {
        margin-right: 30px;
    }

    &__icon {
        width: 270px;
        height: 120px;
        padding: 25px 100px;
        margin-bottom: 30px;
        border-radius: 4px;

        background-color: getColor(section-background);
    }

    &__title {
        margin-bottom: 10px;

        font-weight: bold;
        text-transform: uppercase;
        color: getColor("second-title-text");
    }

    &__text {
        line-height: 1.71;
    }

}